@page
@model MyBank.Pages.ProfiloModel
@{
    ViewData["Title"] = "Profilo";
}

<!--Intestazione-->
<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <!--Colonna centrale-->
        <div class="col-6">
            <br><h2>@ViewData["Title"]</h2><br>
        </div>
    </div>
</div>

<!--Centrale-->
<div class="container" id="centrale">
    <div class="row justify-content-center">
        <!--Colonna centrale-->
        <div class="col-6" style="text-align: center;">
            <img src="~/images/profilone.png" class="responsive" width="200" height="200" style="width: 100%; max-width: 200px; height: auto;">
            <br><br>
                <form asp-page="/Profilo" asp-page-handler="nome" class="form-signin" method="post">
                    <div class="form-group">
                        <label for="utente">Indica un nuovo nome utente</label>
                        <input type="text" class="form-control" id="InputUtente" name="utente" placeholder="Nome utente" aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-primary">Cambia nome</button><br>
                </form><br><br>
                <form asp-page="/Profilo" asp-page-handler="passwd" class="form-signin" method="post">
                    <div class="form-group">
                        <label for="passwd">Indica una nuova password</label>
                        <input type="text" class="form-control" id="InputPasswd" name="passwd" placeholder="Password" aria-describedby="basic-addon1">
                    </div>
                    <button type="submit" class="btn btn-primary">Cambia password</button><br>
                </form>
            <br><br><br><br><br>
        </div>
    </div>
</div>