#intestazione-pagina {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.5973739837731968) 54%, rgba(0,203,249,1) 91%, rgba(0,212,255,1) 94%);
    color: white;
}
