@page
@model MyBank.Pages.BonificoModel
@{
    ViewData["Title"] = "Bonifico";
}

<!--Intestazione-->
<div class="container" id="intestazione">
    <div class="row justify-content-center">
        <!--Colonna centrale-->
        <div class="col-6">
            <br><h2>@ViewData["Title"]</h2><br>
        </div>
    </div>
</div>

<!--Centrale-->
<div class="container" id="centrale">
    <div class="row justify-content-center">
        <!--Colonna centrale-->
        <div class="col-6">
            <img src="~/images/bank-draft.png" class="responsive" width="300" height="300" style="width: 100%; max-width: 300px; height: auto;">
            <form asp-page="/Bonifico" asp-page-handler="bonifico" class="form-signin" method="post">
                <div class="form-group">
                    <label for="InputUtente">Indica il beneficiario del bonifico</label>
                    <input type="text" class="form-control" id="InputBeneficiario" name="Beneficiario" placeholder="Beneficiario" aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                    <label for="InputIBAN">Specifica un IBAN</label>
                    <input type="text" class="form-control" id="InputIBAN" name="IBAN" placeholder="IBAN" aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                    <label for="InputImporto">Specifica un importo</label>
                    <input type="number" class="form-control" id="InputImporto" name="Importo" placeholder="Importo" aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                    <label for="InputData">Indica la data del bonifico</label>
                    <input type="text" class="form-control" id="InputData" name="Data" placeholder="Data" aria-describedby="basic-addon1">
                </div>
                <div class="form-group">
                    <label for="textArea">Indica una causale</label>
                    <textarea class="form-control" id="causale" rows="3" name="Causale" placeholder="Causale"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Invia</button><br>
            </form>
            <br><br><br><br><br>
        </div>
    </div>
</div>
